@import "customVariables";
@import "bootstrap.scss";

.home-content {
  object-fit: cover;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.well {
  h2{
    color: 'white';
  }
  p {
    color: 'white';
  }
}
