@import "customVariables";
@import "bootstrap.scss";

.home-content {
  object-fit: cover;
  overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
  background-color: #f8f8f8;
}

.container {
  background-color: #FFFFFF;
  text-align: center;
}

#home-video {
  background-image: url("../images/header-bg.mp4");
  background-size: 80px 60px;
  background-repeat: repeat;
}

#navbar {
  text-align: center;
  border-bottom: none;
}

.container {
  padding-left: 100px;
}

.navbar-fixed-top {
  position: relative;
  padding-left: 200px;
}

.navbar-header {
  float: left;
}

#footer {
  p {
    padding-left: 100px;
  }
  a {
    text-align: right;
  }
}

.well {

  background-color: #0000FF;

  .item {
    text-align: left;
  }
  .carousel-indicators {
    left: 10%;
    top: 90%;
  }
  .carousel-indicators li {
    margin: 5px;
    width: 5px;
    height: 5px;
  }
  .carousel-indicators ol {
    margin-top: 100px;
  }

  h2 {
    margin-top: 5px;
  }
}
